/* @import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  /* background-image:url('https://cdn.glitch.com/cd3369a7-e614-49a9-93c1-8871829b4d63%2Fandrew-neel-cckf4TsHAuw-unsplash.jpg?v=1584885423509'); */
  background-image: url(workspace-1280538_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Josefin Sans', sans-serif;
}

#addElement { 
  margin: 0px auto 0px auto;
  width: 1000px;
  text-align: center;
  padding: 10px;
}

li{
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  height: 1.5rem;
  padding: 0.8rem; 
}

li:hover{
  color:red;
  cursor: pointer;
  text-decoration: line-through;
}

h1{
  font-size: 5em;
  color: white;
}

#TaskList{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  width: 15em;
  background-color:#ffd35c;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  /* color: #003a91; */
  color: #000;
}

#addButton, #printButton{
  width: 200px;
  height: 3.2em;
  background-color: #fa4a0a;
  color: white;
  padding: 15px 32px;
  font-size: 1em;
  border-radius: 0.4em;
  transition-duration: 0.4s;
  border: 2px solid #fa4a0a;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

#printButton:hover,#addButton:hover {
  cursor: pointer;
  /* opacity: 0.8; */
  background-color: white;
  color: #fa4a0a;
}

input{
  width: 330px;
  height: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  border-radius: 0.4em;
  border: none;
  background-color: #ffd35c;
  padding-left: 12.5px;
}

input:focus {
  outline: 0;
}

p{
  color: white;
  font-size: 180%;
}