@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

:root{
    --pale-blue: #857DBC;
    --white: #ffffff;
    --light-violet: #E6D1F8;
    --dark-violet: #704E8F;
    --pale-violet: #9A6AA9;
}

header{
    width: 100%;    
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: var(--light-violet);
}

#navigation{
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: var(--pale-blue);
    z-index: 10000;
    position: fixed;
}

.menu-item{
    color: var(--white);
    height: 4vh;
    padding: 1vh;
    transition: ease-in-out 0.2s;
}

.menu-item:hover{
    border-bottom: 0.25em solid var(--dark-violet);
    background-color: var(--light-violet);
    color: var(--pale-blue);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#home{
    height: 100vh;
    background-color: var(--light-violet);
    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        height: 70vh;
        width: 28vw;
        border-top-left-radius: 60%;
        border-top-right-radius: 70%;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 60%;
        position: sticky;
    }
}

.left-home{
    color: var(--pale-blue);

    h1{
        font-size: 5em;
    }

    h2{
        font-size: 2em;
    }
}

#about-me{
    height: 100vh;
    background-color: var(--pale-violet);
    justify-content: start;
    color: var(--light-violet);

    h1{
        font-size: 4em;
        padding-top: 5vh;
        padding-left: 3vw;
        color: var(--white);
    }

    p{
        height: 75vh;
        width: 50%;
        padding-top: 6vh;
    }

    img{
        height: 75vh;
        width: 30vw;
    }

    .left-content-about-me{
        width: 50%;
        height: 75vh;
    }

    .content-about-me{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

#offers{
    height: 100vh;
    background-color: var(--dark-violet);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    img{
        height: 6vh;
        width: 2.7vw;
    }
}

#contact{
    height: 15vh;
    background-color: var(--pale-blue);
    color: var(--white);
}